@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.large { font-size: 130% }
.small { font-size: 70% }

img {
  max-width: 100%;
}

.reduite img {
  max-height: 500px;
}
.superreduite img {
  max-height: 300px;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
  font-style: italic;
}